
<style>
    .red{color: red;}
</style>


<div style="margin-left: 20px;margin-right:20px;margin-top: 20px;">
<table class="table table-hover" width="100%" id="tbl_no">
    <thead>
    <tr>
        <th>订单号</th>
        <th>订单状态</th>
        <th>生成时间</th>
        <th>车次</th>
        <th>起始站</th>
        <th>终到站</th>
        <th>发车时间</th>
        <th>用户</th>
        <th>真实姓名</th>
        <th>身份证</th>
        <th>联系方式</th>
        <th>座位类型</th>
        <th>总票数</th>
        <th>总票价</th>
        <th>当前余额</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="tbl_content">
    <foreach name='my_orderNo' item='pv'>
        <tr>
            <th class="orderId_cancel">{$pv.orderId}</th>
            <th>{$pv.current_order_status}</th>
            <th>{$pv.createdAt|date ='Y-m-d H:i:s',###}</th>
            <th>{$pv.train_no}</th>
            <th>{$pv.fromStation}</th>
            <th>{$pv.toStation}</th>
            <th>{$pv.begin_date}</th>
            <th>{$pv.username}</th>
            <th>{$pv.realname}</th>
            <th>{$pv.sfz}</th>
            <th>{$pv.tel}</th>
            <th>{$pv.current_seat_type}</th>
            <th>{$pv.seat_total_num}</th>
            <th><span class="red">{$pv.order_money}</span>元</th>
            <th><span class="red">{$pv.my_money}</span>元</th>
            <th>
                <empty name="pv.is_enough">
                    <button class="layui-btn layui-btn-danger go_pay">余额不足，去充值</button>
                    <else />
                    <a href="{$Think.config.view_url_base}/Business/order_pay/train_no/{$pv.train_no}/seat_type/{$pv.seat_type}/orderId/{$pv.orderId}" class="layui-btn layui-btn-normal">余额充足，去支付</a>
                </empty>
                <button class=" layui-btn layui-btn-warm order_cancel">取消订单</button>
            </th>
        </tr>
    </foreach>
    </tbody>
</table>
</div>
<!-- 自动建议bootatrap JS -->
<link rel="stylesheet" href="/Public/Home/css/autosuggest.min.css">
<script src="/Public/Home/js/jquery.autosuggest.min.js"></script>
<!-- End自动建议bootatrap JS -->

<!-- 加载颜色选择器 -->
<script type="text/javascript" src="/Public/Home/js/jquery.minicolors.js"></script>
<link rel="stylesheet" href="/Public/Home/css/jquery.minicolors.css">
<script type="text/javascript" src="/Public/Home/js/colorset.js"></script>
<!-- 加载颜色选择器 -->

<script>
    table = $("#tbl_no").DataTable({
        "oLanguage": {
            "sLengthMenu": "每页显示 _MENU_ 条记录",
            "sZeroRecords": "抱歉， 没有找到",
            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
            "sInfoEmpty": "没有数据",
            "sSearch": "关键字筛选：",
            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "前一页",
                "sNext": "后一页",
                "sLast": "尾页"
            },
        },
        "order": [[ 0, "desc" ]],
        "columnDefs": [
        ]
    });
    $(".dataTables_filter input").attr("placeholder", "请输入关键字进行筛选");

    $('.go_pay').click(function () {
        $.post('{$Think.config.view_url_base}/Business/showPay',
            {},
            function (result) {
                if(result.status === 200) {
                    var openBusiness = layer.open({
                        title: '快速充值页面',
                        index:1,
                        type: 1,
                        shift: 2,
                        area: ['30%', '47%'],
                        shadeClose: false,
                        maxmin: true,
                        content: result.data.content
                    })
                }
            }
            ,'json');
    });

    //取消订单
    $('.order_cancel').click(function () {
        var orderId = $(this).parents('tr').children('th.orderId_cancel').html();
        layer.confirm('确定取消订单吗?',{
            btn:['是的','取消']
        },function () {

            $.post('{$Think.config.view_url_base}/Business/doOrderCancel',{
                orderId:orderId
            },function (result) {
                if(result.status === 200){
                    layer.msg(result.info,
                        {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        },
                        function () {
                            location.reload();
                        });
                }else{
                    layer.msg(result.info,
                        {
                            icon: 2,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        },
                        function () {
                            location.reload();
                        });
                }
            },'json');
        })
    });
</script>