@charset "utf-8";
/* CSS Document */
body{background:#fff; font-size:12px; font-family: Tahoma,"宋体";color:#333;margin:0;padding:0; position:relative;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{border:0;list-style:none;margin:0;padding:0;}
input,select,textarea{font-size:12px;font-family:Tahoma;line-height:18px; padding:0; margin:0; color:#333;outline: none}
p{ line-height:20px;}
a{color:#0077FF;text-decoration:none;outline:none; }
a:hover{ color:#FB7403}
a,a:focus{ outline:none;}
a,img{ border:none;}
table{ border-collapse:collapse;  border-spacing: 0;}
/*float*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.clearfix {display:block; }
.fl{float:left;}
.fr{float:right;}
.clear{ clear:both}
.tc{ text-align:center;padding-top: 50px;}
.tr{ text-align:right}
.tl{ text-align:left}
.underline{ text-decoration:underline}
.margin_div{ margin:0px auto;}
.hide{ display:none}
.pos-rel{ position:relative}
.required{ font-size:16px; color:#f00; font-family:Tahoma; vertical-align:middle; margin-right:2px; font-weight:400}
.o-hide{ overflow:hidden}



.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.pt10{ padding-top:10px;}
.mr5{ margin-right:5px;}
.mr15{ margin-right:15px;}
.mr25{ margin-right:25px;}

.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.mb40{ margin-bottom:40px;}
.w70{ width:65px;}
.w90{ width:85px;}
.w100{ width:95px;}
.w110{ width:105px;}
.w150{ width:145px;}
.w160{ width:155px;}
.w200{ width:195px;}
.w600{ width:600px;}
.w664{ width:664px;}
.w445{ width:445px;}
.w734{ width:734px;}
.content{ width:980px; min-height:620px; _height:620px; margin:0 auto;}
.sidebar{ width:200px; float:left; margin-right:10px;}
.main{ width:770px; float:left}
/*表单*/
.check{ vertical-align:-3px; _vertical-align: middle; margin-right:4px;}/*复选框样式*/
.radio{ vertical-align:-3px; _vertical-align: middle; margin-right:4px;}/*单选框样式*/
.select{ width:150px; height:28px; line-height:28px; border:1px solid #999;}
.inp-txt{ width:193px; height:18px; line-height:18px; border:1px solid #CFCDC7; background:#fff; padding:5px 0 5px 5px; color:#999}

.inp-txt_select{ width:193px; height:18px; line-height:18px; border:1px solid #CFCDC7; background:#fff; padding:5px 0 5px 5px; color:#333333;}
.inptxt{  height:18px; line-height:18px;  border:1px solid #CFCDC7; background:#fff; color:#999; padding:5px 0 5px 5px;}
.inp-transform{ text-transform:lowercase;}
.inp-focus{height:35px; line-height:35px; background:#FFFBE5; border:1px solid #2D8DCF; padding-left:20px; font-size:20px; color:#FB7403; font-family:"微软雅黑","黑体"; position:absolute; top:-36px; left:0px; display:none; z-index:10}
.inp-focus-card{ width:260px;}
.inp-focus-tel{ width:200px;}



.no-change{ color:#999;}
.no-change .i-date{ background-position:0 -300px}
.no-change .i-city{ background-position:0 -200px}


select{ height:30px; *height:22px; line-height:30px;*line-height:22px; padding:5px 0;*padding:0;*position:relative; *top:5px; _position:relative; _top:6px;}

table tr td select{ position:static}
.btn92,.btn92s,.btn72,.btn72-no,.btn122,.btn122s,.btn200,.btn200s,.btn-login,.btn30,.btn30s,.btn-disabled{display:inline-block; text-align:center; background: url(../img/bg_btn.png) repeat-x; color:#333; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}

.btn92,.btn122,.btn200,.btn30{ height:28px; line-height:28px; border:1px solid #ccc; background-position:0 -100px;}
.btn92:hover,.btn72:hover,.btn122:hover,.btn200:hover,.btn30:hover{ background-position:0 -150px; color:#333}

.btn92s,.btn122s,.btn200s,.btn30s{ height:30px; line-height:30px; background-position:0 0px; color:#fff}
.btn92s:hover,.btn72s:hover,.btn122s:hover,.btn200s:hover,.btn30s:hover{ background-position:0 -50px; color:#fff;}

.btn72,.btn72-no{height:30px; line-height:30px; width:72px; background-position:0 -250px; color:#fff}
.btn72:hover{background-position:0 -300px; color:#fff;}
.btn72-no{background-position:0 -200px;}
.btn-login{ display:block; width:225px; height:30px; line-height:30px; margin:5px auto; font-size:16px; background-position:0 0px; color:#fff; font-weight:700}
.btn-login:hover{ background-position:0 -50px; color:#fff}
.btn30{ width:28px;}
.btn30s{ width:30px;}
.btn92{ width:90px;}
.btn92s{ width:92px;}
.btn122{ width:120px;}
.btn122s{ width:122px;}
.btn200{ width:198px;}
.btn200s{ width:200px;}
.btn-disabled{ background-position:0 -200px;}
.btn-disabled:hover{ background-position:0 -200px;}


/*背景定位*/
.i-city,.i-date,.i-new,.i-close,.i-card,.i-save,.i-save-dis,.i-del,.i-re,.i-ok,.slideTxt .num,.per-sel h2,.s-box .sub,.order-item-hd .icon-btn,.i-edit,.i-editbtn,.t-list .cdz strong,.up-box-hd a,.add-per span,.i-ok,.txt-wrong,.i-savebtn,.login .w-txt,.i-wrong,.i-clear{ background:url(../img/icon.png) no-repeat;}

.i-lose,.i-opt,.i-hi,.i-win,.i-warn{display:block; width:82px; height:92px; background:url(../img/icon02.png) no-repeat}

.header,.sear-sel-hd,.per-ticket th,.table-a th,.t-list-hd,.up-box-hd,.layout,.slideTxt,.guide-nav{ background:url(../img/bg.png) repeat-x;}

.step li em,.i-change,.i-change2,.i-lock,.i-success,.i-no,.btn-sear-sel span,.find-pass .hd li b,.find-pass .hd li span,.help-tab .hd li b,.help-tab .hd li span,.sear-sel .btn-all{ background:url(../img/bg02.png) repeat-x;}

.i-mark,.menu .menu-bd b,.per-sel .btn-all b,.lookup b,.my dl dt b{ background:url(../img/icon8.png) no-repeat;}

.i-city{ display:inline-block; width:20px; height:20px; position:absolute; top:5px; right:5px; background-position:0 -150px; overflow:hidden}
.i-date{ display:inline-block; width:20px; height:20px; position:absolute; top:5px; right:5px; background-position:0 -250px; overflow:hidden}
.i-change{display:block; width:23px; height:46px; background-position:-60px -80px;}



/*背景*/

/*header*/
.header{ height:66px; margin-bottom:20px;background-position:0 0}
.header-bd{ width:1000px; height:66px; margin:0 auto; position:relative; z-index:3000;}
.logo{ float:left; width:300px; height:50px; background:url(../img/logo.png) 12px 8px no-repeat; padding:8px 0 0 12px; text-indent:-9999px; }
.login-info{ height:30px; line-height:30px; float:right; padding-right:5px; margin-bottom:2px;}
.login-info a{color:#666; }
.login-info .colorA{ color:#FB7403}
.login-info .phone-link{ background:url(../img/icon_phone.png) left center no-repeat; padding-left:15px; float:right; margin-left:25px;}
.login-info .phone-link a:hover{color:#FB7403}
.login-info .login-txt{ float:right}
.login-info .login-txt a{margin:0 5px;}
.login-info .login-txt a:hover{color:#FB7403}
.menu{ float:right; width:80px; height:30px; margin-left:35px; position:relative; z-index:2999; text-align:left}
.menu .menu-bd{ display:block;width:80px; height:30px; line-height:30px;}
.menu .menu-bd:hover{ color:#FB7403}
.menu .menu-bd b{ display:block; width:10px; height:5px; background-position:0 -35px; overflow:hidden; position:absolute; top:14px; right:2px;}
.menu .menu-list{ width:130px; padding:5px 10px; border:1px solid #298CCE; background:#EEF1F8; position:absolute; top:30px; left:-2px; z-index:2999; display:none;}
.menu .menu-list b{ display:block; width:13px; height:7px; overflow:hidden; background:url(../img/icon_arrow2.png) -1px 0 no-repeat;  position:absolute; top:-7px; left:50%; margin-left:-7px;}
.menu .menu-list li{ height:20px; line-height:20px; overflow:hidden; padding-left:5px;}
.menu .menu-list .line{ border-bottom:1px dashed #999; height:1px; line-height:1px; margin:5px 0; overflow:hidden;}
.menu .menu-list li a{ border-left:3px solid #EEF1F8; padding-left:5px;}
.menu .menu-list li a:hover{ color:#00A3D9;border-left:3px solid #00A3D9}
/*nav*/
.nav{ width:600px; height:34px; padding:0 0 0 60px;background:url(../img/bg_nav.png) right top no-repeat; float:right; position:relative; }
.nav ul{ }
.nav li{ float:left; width:65px; height:30px; text-align:center; margin-right:18px; margin-top:4px}
.nav li a{ display:block; height:28px; line-height:28px; color:#fff; font-size:14px; text-align:center}
.nav li .current{background:url(../img/bg_nav01.png) no-repeat; color:#478DCD;}
.nav li .current:hover{color:#478DCD;}
.nav .nav-guide{ width:71px; height:30px;}
.nav .nav-guide .current{ background:url(../img/bg_nav02.png) no-repeat; height:30px; line-height:28px; font-weight:700; color:#478DCD;}
.nav .nav-list{ width:980px; height:32px; padding:0px 10px; background:url(../img/bg_navlist.png) repeat-x; border-bottom:1px solid #999; position:absolute; top:34px; right:0; z-index:2899; display:none; box-shadow:2px 2px 5px #666}
.nav .nav-list li{ height:16px; line-height:16px; padding:8px 0; overflow:hidden;  width: auto; text-align:left; float:right; margin-left:30px; margin-top:0; background:none;}
.nav .nav-list .on{ color:#478DCD;border-left:2px solid #478DCD; padding-left:3px; font-weight:400}
.nav .nav-list li a{ display:inline; padding-left:5px; color:#666; height:16px; line-height:16px; font-weight:400; background:none;}
.nav .nav-list li a:hover{ color:#478DCD; border-left:2px solid #478DCD; padding-left:3px; font-weight:400}
/*footer*/
.footer{ position:relative;height:10px; line-height:20px; padding:30px 0; border-top:2px solid #468DCD; background:#F6F6F6 right bottom no-repeat; margin-top:20px; text-align:center;
;color:#999}
/*带标题模块*/
.layout{ border:1px solid #1678BE; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; background-position:0-400px;}
.layout .lay-hd{ text-align:center;height:32px; line-height:30px; color:#E5F8FF; padding-left:20px; font-size:14px; position:relative}
.layout .lay-hd .small{ font-size:12px; }
.layout .lay-bd{background:#EEF1F8; border-top:none;}